h1 {
    font-size: 60px;
    background-color: rgb(19, 19, 19);
    color: rgb(255, 255, 255);
}
section {
    text-align: center;
    background-color: rgb(116, 117, 119);
}
p {
    color: rgb(0, 0, 0);
    font-size: 20px;
}