h1 {
    font-size: 60px;
    background-color: #260004;
    color: rgb(255, 255, 255);
}
section {
    text-align: center;
    background-color: #B86E60;
}
p {
    color: rgb(0, 0, 0);
    font-size: 20px;
}